* {
    box-sizing: border-box;
  }

  body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-item {
    padding: 0 20px;
    line-height: 50px;
  }

  .nav-link {
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: white;
  }
  
  html {
    scroll-behavior: smooth; 
  }

  .section-list {
      list-style: none;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px 35px;
  }
  
  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #d7d1c9;
  }
  
  .section-profile-avatar {
      width: 150px;
      object-fit: cover;
      border-radius: 5%;
  } 

  .section-profile-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }

  .section-profile-title .main-title {
      text-transform: uppercase;
      letter-spacing: 8px;
      font-size: 50px;
  }

  a {
    text-decoration: none;
    color:white;
  }


  .section-item {
    position: relative;
    padding-left: 30px;
    text-decoration: none;;
  }
  
  .section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid;
    border-radius: 50%;
  }

  .rss {
    width: 121px;
    height: 45px;
    background-image: url("../images/svg/rs-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .github {
    width: 121px;
    height: 45px;
    background-image: url("../images/svg/github.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .footer {
    padding: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 20px; 
  }

  .footer-link {
    padding: 0 55px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: white; 
  }